.home-container{
    display: flex;
    background-color: #F5F5F5;
    min-height: 515px;
    width: 180vh;
    margin: 80px 0px 0px 0px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.home-title{
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
}
.home-userlist{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
    min-width: 10px;
    margin: 0px 58px;
}

.user-container{
    display: flex;
    width: 200px;
    height: 210px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #e4e4e4;
    border-radius: 10px;
    padding: 5px 0px;
    margin: 5px 21px 30px;
}

.home-user{
    margin-top: 10px;
    /* background-color: rgb(194, 194, 194); */
    background-color: #CFCFCF;
    padding:0.5rem;
    padding-top: 0.7rem;
    border-radius: 8px;
    width: 170px;
    height: 130px;

}
/* .home-role{
    margin-top: 1rem;
    font-size: 1.25rem;
} */

.user-sua-xoa{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
}
.sua-user{
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 750;
    background-color: #e4e4e4;
    padding:0.35rem;
    border-radius: 5px;
    color:rgb(25, 135, 84);
    border: 2px solid rgb(25, 135, 84);
    width: 40%;
    margin: 0px 3px;
}

.sua-user:hover{
    background-color: rgb(25, 135, 84);
    color:white;
}

.delete-user{
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 750;
    background-color: #e4e4e4;
    padding:0.35rem;
    border-radius: 5px;
    color:rgb(240, 34, 96);
    width: 40%;
    margin: 0px 3px;
    border: 2px solid rgb(240, 34, 96);
}
.delete-user:hover{
    color:white;
    background-color: rgb(240, 34, 96);
}
.navbar {
   display: flex;
}
.errorMsg{
    margin-top: 3rem;
    font-size: 1.5rem;
}