.leaflet-control-geosearch form {
    display: block !important;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    margin: 0 auto;
  }
  
  .leaflet-control-geosearch form input {
    width: 100%;
  }
  
  .leaflet-control-geosearch .leaflet-bar-part {
    display: none;
  }

  .leaflet-geosearch-button form.open {
    width: 208px;
}